* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #3bb77e;
  --border-color: #ccc;
  --white-color: #ffffff;
  --gray-color: #7e7e7e;
}

body {
  font-family: "Lato", sans-serif;
}
